src/main/resources/calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.training.wkl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CalculatorImplService" targetNamespace="http://ws.training.wkl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.training.wkl/" elementFormDefault="unqualified" targetNamespace="http://ws.training.wkl/" version="1.0">

  <xs:element name="calculate" type="tns:calculate"/>

  <xs:element name="calculateResponse" type="tns:calculateResponse"/>

  <xs:complexType name="calculate">
    <xs:sequence>
      <xs:element name="firstOperand" type="xs:int"/>
      <xs:element name="secondOperand" type="xs:int"/>
      <xs:element minOccurs="0" name="operator" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="calculate">
    <wsdl:part element="tns:calculate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculateResponse">
    <wsdl:part element="tns:calculateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Calculator">
    <wsdl:operation name="calculate">
      <wsdl:input message="tns:calculate" name="calculate">
    </wsdl:input>
      <wsdl:output message="tns:calculateResponse" name="calculateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorImplServiceSoapBinding" type="tns:Calculator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calculate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="calculate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calculateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorImplService">
    <wsdl:port binding="tns:CalculatorImplServiceSoapBinding" name="CalculatorImplPort">
      <soap:address location="http://localhost:8080/calc/calculatorSoap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>